<h1>Edit Landmark</h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <label>Name: </label><br>
    <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>"><br>

    <label>Year Completed: </label><br>
    <input type="integer" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>"><br>

    <label>Choose An Existing Figure: </label><br>
    <select class="" name="landmark[figure_id]">
        <% @figures.each do |figure| %>
            <option name="landmark[figure_id]" value="<%= figure.id %>" id="figure_<%= figure.id %>">
                <%= figure.name %>
            </option>
        <% end %>
    </select>

    <h2>Create a New Figure: </h2><br>
        <label>Name: </label>
        <input type="text" name="figure[name]" id="new_figure"><br><br>

    <input type="submit" value="submit">
</form> 